@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* header */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white; 
    scroll-behavior: smooth;  
}
video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: .7;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #827397;
    mix-blend-mode: overlay;
    z-index: -1;
}
.header--container{
    padding: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
.logo{
    width: 5em;
    border: 1px solid black;
    border-radius: 5px;
    opacity: .7;
    filter: invert(1);

}
h2{
    font-size: 3em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h3{
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    margin: .2em 0;
    text-transform: uppercase;
}
p{
    font-size: 1.1em;
    font-weight: 400;
}
#decouvrir{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 1em 2em;
    text-decoration: none;
    color: #111;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .2s;
}
#decouvrir:hover{
    letter-spacing: 4px;
    background: #827397;
    color: #fff;
}
.socials{
    width: 5em;
    display: flex;
    justify-content: space-between;
}
i{
    opacity: .7;
    font-size: 2em;
}

/* main */

main h2{
    width: 100%;
    padding: .75em;
    text-align: center;
    background: #333;
}
.rea{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
}
.rea img{
    width: 100%;
    padding: .1em;
    border: .1em solid #111;
}
/* media queries */

@media only screen and (max-width: 45em){
    .rea{
        grid-template-columns: repeat(2, 1fr);
    }
    .hide-on-medium{
        display: none;
    }
}

@media only screen and (max-width: 30em){
    .header--container{
        padding: 1em;
    }
    .logo{
        width: 5em;
        margin: 0 auto;
        text-align: center;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        padding: 5px;
    }
    h3{
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        padding: 5px;
    }
    p{
        font-size: 0.7em;
        text-align: center;
        padding: 5px;
    }
    #decouvrir{
        font-size: 0.7em;
        letter-spacing: 1px;
    }
    .socials{
        width: 100%;
        justify-content: center;
    }
    i{
        padding: 10px;
    }
    .rea{
        grid-template-columns: 1fr;
    }
    .hide-on-small{
        display: none;
    }
}