@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.accueil{
    padding: 6em;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #fff;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: .7;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em 6em;
    margin-right: auto;
}
.logo{
    width: 5em;
    filter: invert(1);
    opacity: .6;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #827397;
    mix-blend-mode: overlay;
    z-index: -1;
}
.accueil--text{
    margin-right: auto;
}
.accueil--text h2{
    font-size: 3em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.accueil--text h3{
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    margin: .2em 0;
    text-transform: uppercase;
}
.accueil--text p{
    font-size: 1.1em;
    font-weight: 400;
}
.accueil--text a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 1em 2em;
    text-decoration: none;
    color: #111;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .2s;
}
.accueil--text a:hover{
    letter-spacing: 4px;
    background: #827397;
    color: #fff;
}
.social{
    position: absolute;
    bottom: 2em;
    display: flex;
    width: 100%;
    padding-left: 6em;
    margin-right: auto;
}
.social li{
    list-style: none;
}
.social li a{
    padding: 1em;
    color: #fff;
}
i{
    font-size: 2em;
    transition: .3s;
}
i:hover{
    transform: translateY(-5px);
}
@media (max-width: 30em){
    .accueil--text h2{
        font-size: 2em;
    }
    .accueil--text h3{
        font-size: 1em;
    }
    .logo{
        position: relative;
        margin: 0 auto;
    }
}
